{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <title>Detalhe Colaborador</title>
</head>

<body>

    <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container">
            <img src="{% static 'logo.png' %}" alt="" width="90" height="90" style="margin-left: -200px;">

            <form action="{% url 'myapp:colaborador' %}" class="d-flex" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="form-control me-2" type="search" placeholder="Colaborador" style="margin-top: -40px;" aria-label="Search" name="colaborador">
                <button class="btn btn-outline-success gradientLine" style="margin-top: -35px;" type="submit">🔍</button>
            </form>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle gradientLine" style="margin-top: -50px;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <b>Projetos</b>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="width:100px; height: 300px; overflow-y: scroll;">
                    {% for row in projetos %}
                    <li><a class="dropdown-item" href="{% url 'myapp:pesquisarProjeto' row %}">{{ row }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle gradientLine" style="margin-top: -50px; margin-left: 0px !important;" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>Em Negociação</b>
                </button>
                
                <form action="{% url 'myapp:negociacao' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
    
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="width:150px; height: 300px; overflow-y: scroll;">
                    {% for row in projetos_prospeccao %}
                    <a class="dropdown-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="{{ row }}" name="projeto" value="{{ row }}">
                            <label class="custom-control-label" for="{{ row }}" style="font-size: 15px; color: black;">{{ row }}</label><br>
                        </div>
                    </a>
                    {% endfor %}
                    <div>
                        <button class="btn btn-outline-success gradientLine" style="margin-top: -35px; margin-left: 20px;" type = "submit">Carregar</button>
                    </div>
    
                </form>
    
                </div>
                
            </div>

            <button onclick="andamento()" class="btn btn-outline-success me-2 gradientLine" style="margin-top: -45px; margin-left: 20px;" type="submit" style="margin-left: -100px;"><b>Em
                Andamento<b></button>

            <form hidden action="{% url 'myapp:andamento' %}" class="d-flex" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input hidden id="inputAndamento" class="form-control me-2 style" type="" name="status" style="margin-left: -80px;">
                <button hidden id="enviarAndamento" class="btn btn-outline-success" style="margin-left: -8px;" type="submit">🔍</button>
            </form>

            <button onclick="match()" class="btn btn-outline-success me-2 gradientLine" style="margin-top: -45px; margin-left: 100px;" type="submit"><b>
                Match<b></button>

            <form hidden action="{% url 'myapp:match' %}" class="d-flex" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input hidden id="inputMatch" class="form-control me-2 style" type="" name="status" style="margin-left: -80px;">
                <button hidden id="enviarMatch" class="btn btn-outline-success" style="margin-left: -8px;" type="submit">🔍</button>
            </form>

        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    {% if mensagem %}
    <script>
        setTimeout(function(){
            alert('{{ mensagem }}');
        }, 500);
    </script>

    <div class="content">
        <div class="container-xl">
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr class="gradientLine">
                            <th class="a" scope="col" style="width:27%">EQUIPE</th>
                            <th class="a" scope="col" style="width:6.083%">JAN</th>
                            <th class="a" scope="col" style="width:6.083%">FEV</th>
                            <th class="a" scope="col" style="width:6.083%">MAR</th>
                            <th class="a" scope="col" style="width:6.083%">ABR</th>
                            <th class="a" scope="col" style="width:6.083%">MAI</th>
                            <th class="a" scope="col" style="width:6.083%">JUN</th>
                            <th class="a" scope="col" style="width:6.083%">JUL</th>
                            <th class="a" scope="col" style="width:6.083%">AGO</th>
                            <th class="a" scope="col" style="width:6.083%">SET</th>
                            <th class="a" scope="col" style="width:6.083%">OUT</th>
                            <th class="a" scope="col" style="width:6.083%">NOV</th>
                            <th class="a" scope="col" style="width:6.083%">DEZ</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    {% endif %}

    <div class="content">
        <div class="container-xl">
            <div class="table-responsive">
                <table>
                    <thead>
                        {% for row in excel_data %}
                        {% if row.0 == "Agrupado" %}
                        <tr class="gradientLine">

                            {% if row.6 == 0 %}
                            <td class="a"><a style="color: white !important;">{{ row.9 }} ({{ row.8}})</a></td>
                            {% endif %}
                            {% if row.6 != 0 %}
                            <td class="a"><a style="color: white !important;">{{ row.8 }}</a></td>
                            {% endif %}

                            <th class="a" scope="col">JAN</th>
                            <th class="a" scope="col">FEV</th>
                            <th class="a" scope="col">MAR</th>
                            <th class="a" scope="col">ABR</th>
                            <th class="a" scope="col">MAI</th>
                            <th class="a" scope="col">JUN</th>
                            <th class="a" scope="col">JUL</th>
                            <th class="a" scope="col">AGO</th>
                            <th class="a" scope="col">SET</th>
                            <th class="a" scope="col">OUT</th>
                            <th class="a" scope="col">NOV</th>
                            <th class="a" scope="col">DEZ</th>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </thead>

                    <tbody>
                        {% for row in excel_data %}
                        {% if row.0 != "Agrupado" %}
                        
                        <tr>
                            <td class="a"><a style="color: orange !important;" href="{% url 'myapp:pesquisarProjeto' row.0 %}">{{ row.0 }}</a></td>
                            <td class="a">{{ row.10 }}%</td>
                            <td class="a">{{ row.11 }}%</td>
                            <td class="a">{{ row.12 }}%</td>
                            <td class="a">{{ row.13 }}%</td>
                            <td class="a">{{ row.14 }}%</td>
                            <td class="a">{{ row.15 }}%</td>
                            <td class="a">{{ row.16 }}%</td>
                            <td class="a">{{ row.17 }}%</td>
                            <td class="a">{{ row.18 }}%</td>
                            <td class="a">{{ row.19 }}%</td>
                            <td class="a">{{ row.20 }}%</td>
                            <td class="a">{{ row.21 }}%</td>
                        </tr>
                        {% endif %}
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <footer class="footer">

        <form action="{% url 'myapp:index' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input multiple hidden id="inputFile" type="file" accept=".xl*" name="excel_file" title="Upload excel file" required="required">
            <p>

                <button class="btn btn-outline-success styleButton gradientLine" type="button" onClick="window.print()"><b>Imprimir
                            <i class="fas fa-print"></i></button>
                <button onclick="show()" class="btn btn-outline-success styleButton gradientLine"><b>Importar planilha
                            </i></button>
                <button type="submit" class="btn btn-outline-success styleButton gradientLine"><i
                            class="fas fa-upload"></i></button>
        </form>

    </footer>

    <script>
        function show() {
            document.getElementById('inputFile').click()
        }
    </script>

    <script>
        function andamento() {
            document.getElementById('inputAndamento').click();
            document.getElementById('enviarAndamento').click();
        }
    </script>

    <script>
        function match() {
            document.getElementById('inputMatch').click();
            document.getElementById('enviarMatch').click();
        }
    </script>

    <script>
        function pesquisarProjeto() {
            document.getElementById('dropdownMenuButton1').click()
            document.getElementById('btnPesquisarProjeto').click()

        }
    </script>

</body>

</html>